.container{
    padding: 40px;
    margin: auto;
    width: 60%;
    height: 70vh;
    background-color: bisque;
}
.table{
    background-color: palegoldenrod;
    width: 100%;
    border-collapse: collapse;

}

.tr{
    text-align: center;
    border: 2px solid black;
}

.table-cell, .table-header {
    border: 2px solid black;
}

@media screen and (max-width: 500px) {

    .container{
        width: 100%;
        background-color: bisque;
        padding: 0px;
    }
    body{
        background-color: bisque;
    }
   
}