.form{
    background-color: wheat;
    margin: auto;
    width: 80vw;
    border-radius: 10px;
    padding: 20px;
}
.h3{
    color: black;

}
form{
    color: black;
    display: flex;
    flex-direction: column;
}
button{
    background-color: blue;
    margin-top: 40px;
}
.name {
    display: flex;
    margin-top: 10px;
 
  
  }
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: start;
 
    width: 100%;
  }
  .input-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .input-group input {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 8px 12px;
     width: 80%;
    font-size: 14px;
    outline: none;
  }
  input{
    background-color: white;
    color: black;
  }
 .malefemale{
    display: flex;
    gap: 5px;
 }
.adress input{
    width: 90%;

}
.adress {
  border: 1px solid black;
  
}


input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); 
  }
  